<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0">

  <name>XO: Subsonic Commander</name>
  <author href="http://www.ericbla.de/gvoice-webos/">Eric Blade</author>

  <description>
A Subsonic streaming media server interface
  </description>
  <rim:orientation mode="auto"/>
		
  <rim:category name="music"/>	

  <rim:permissions>
  </rim:permissions>

  <icon src="mainApp/images/google-voice-icon64.png"/>

  <content src="index.html"/>

  <feature id="blackberry.ui.dialog"/>
  <access uri="http://www.google.com" subdomains="true">
    <feature id="blackberry.app.event"/>
    <feature id="blackberry.invoke"/>
  </access>
  <access uri="https://www.google.com" subdomains="true">
  </access>
  <access uri="http://ericbla.de" subdomains="true">
     <feature id="blackberry.invoke" />
  </access>
  <access uri="*" subdomains="true">
  </access>
</widget>