<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.5.0">

  <name>XO</name>
  <author href="http://www.ericbla.de/gvoice-webos/xo">Eric Blade</author>

  <description>
    XO: Subsonic Media Server Commander for PlayBook!
  </description>
  <rim:orientation mode="auto"/>
		
  <rim:category name="communication"/>	

  <rim:permissions>
  </rim:permissions>

  <icon src="images/subsonic64.png"/>

  <content src="index-webworks.html"/>

  <feature id="blackberry.ui.dialog"/>
  <access uri="http://www.ericbla.de" subdomains="true">
     <feature id="blackberry.invoke" />
     <feature id="blackberry.invoke.BrowserArguments"/>
  </access>
  <access uri="*" subdomains="true">
  </access>
  <feature id="blackberry.invoke" />
  <feature id="blackberry.invoke.BrowserArguments"/>

</widget>