/*Your CSS here*/

.app-avatar {
	pointer-events: none;
	position: absolute;
        z-index: 10;
}

.draghighlight {
    background: #5CB3FF;
    font-weight: bold;
}

.playhighlight {
    font-weight: bold; 
}